@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto:wght@100&display=swap');

.image{
    background-image: url("wallpaper.jpg");
    object-fit: cover;
    background-position: center;
    padding: 5rem;
}

.image p{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    line-height:4.3rem;
    padding: 0;
    margin: 0;
    padding: 2rem;
}


div img{
    height: 40%;
    object-fit:center;
}
.border-bottom-dashed{
    border-bottom: dashed 1px grey;
}
.fonting{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(110,110,110);
}
p.fonting-1{
    font-family: 'Roboto', sans-serif; 
    font-size: 2.3rem;
    font-weight: 800;
    
}
p.h4{
    color: rgb(90, 90, 90);
}
button .btn:hover{
    color: black;
    background: transparent;
}
.font1{
    font-family:  'Kanit', sans-serif;
    
}

@media only screen and (max-width: 1200px) {
    .image{
        
        padding: 3.5rem;
    }
    .image p{
        
        font-size: 3rem;
        line-height:3rem;
      
        margin: 0;
        padding: 2rem;
    }
  }
@media only screen and (max-width: 900px) {
    .image{
        
        padding: 3rem;
    }
    .image p{
        
        font-size: 2.4rem;
        line-height:3rem;
       
        margin: 0;
        padding: 1rem;
    }
  }
@media only screen and (max-width: 620px) {
    .image{
        
        padding: 2rem;
    }
    .image p{
        
        font-size: 1.8rem;
        line-height:2rem;
        font-weight: 500;
        
    }
  }
@media only screen and (max-width: 420px) {
    .image{
        
        padding: 1rem .3rem;
        
    }
    .image p{
        margin: 0;
        line-height: normal;
        font-size: 1.4rem;
        line-height:1.2rem;
        font-weight: 500;
        
    }
  }